.js-snackbar-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;
    padding: 10px;
    overflow: hidden;
}

.js-snackbar-container--fixed {
    position: fixed;
}

.js-snackbar-container * {
    box-sizing: border-box;
}

.js-snackbar__wrapper {
    overflow: hidden;
    height: auto;
    margin: 5px 0;
    transition: all ease .5s;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 black;
}

.js-snackbar {
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 3px;
    color: #eee;
    font-size: 16px;
    background-color: #262626;
    vertical-align: bottom;
}

.js-snackbar__close,
.js-snackbar__status,
.js-snackbar__message {
    position: relative;
}

.js-snackbar__message {
    padding: 12px;
}

.js-snackbar__status {
    display: none;
    width: 15px;
    margin-right: 5px;
    border-radius: 3px 0 0 3px;
    background-color: transparent;
}

 .js-snackbar__status.js-snackbar--success,
 .js-snackbar__status.js-snackbar--warning,
 .js-snackbar__status.js-snackbar--danger,
 .js-snackbar__status.js-snackbar--info {
    display: block;
}

.js-snackbar__status.js-snackbar--success  {
    background-color: #4caf50;
}

.js-snackbar__status.js-snackbar--warning  {
    background-color: #ff9800;
}

 .js-snackbar__status.js-snackbar--danger {
    background-color: #b90909;
}

 .js-snackbar__status.js-snackbar--info {
    background-color: #2196f3;
}

.js-snackbar__action {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #838cff;
    cursor: pointer;
}

.js-snackbar__action:hover {
    background-color: #333;
}

.js-snackbar__close {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    user-select: none;
    color: #BBB;
}

.js-snackbar__close:hover {
    background-color: #444;
}